$AdventPro: 'Advent Pro', sans-serif;
$BebasNeue: 'Bebas Neue', cursive;
$Galada: 'Galada', cursive;
$Roboto: 'Roboto', sans-serif;

$header-mob-menu-bg: #f0f8f6;
$primary-text-color: #696969;
$title-color: #212121;
$accent-color: #01a3a4;
$bg-color-white: #fff;
$hero-bg-gradient: linear-gradient(129.34deg, #feca57 56.78%, #e3aa2d 101.94%);
$gradient-linear: linear-gradient(141.39deg, #74e6cf 13.88%, #c0e594 106.32%);
$ellipse-gradient: linear-gradient(180deg, #fcf2bd 0%, #f5f5f6 100%);
$white-text-color: #ffffff;
$mobail-menu: #34495e;
$pop-up-bg: #000000;
$placeholder-color: #c4c4c4;
$bg-color: #e5e5e5;
$scrol-color: #74e6cf;

$time-distribution-function: cubic-bezier(0.4, 0, 0.2, 1);

$maxWidth: 1920px;
$maxWidthWrapper: 75rem;
$maxWidth: 120rem;
